<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.fileStorage.home.title">File Storages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-file-storage" [routerLink]="['/file-storage/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.fileStorage.home.createLabel">
            Create new File Storage
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="fileStorages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="App.fileStorage.filename">Filename</span></th>
            <th><span jhiTranslate="App.fileStorage.caption">Caption</span></th>
            <th><span jhiTranslate="App.fileStorage.userContact">User Contact</span></th>
            <th><span jhiTranslate="App.fileStorage.imProjects">Im Projects</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fileStorage of fileStorages ;trackBy: trackId">
                <td><a [routerLink]="['/file-storage', fileStorage.id, 'view' ]">{{fileStorage.id}}</a></td>
                <td>{{fileStorage.filename}}</td>
                <td>{{fileStorage.caption}}</td>
                <td>
                    <div *ngIf="fileStorage.userContact">
                        <a [routerLink]="['../user-contact', fileStorage.userContact?.id, 'view' ]" >{{fileStorage.userContact?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="fileStorage.imProjects">
                        <a [routerLink]="['../im-projects', fileStorage.imProjects?.id, 'view' ]" >{{fileStorage.imProjects?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/file-storage', fileStorage.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/file-storage', fileStorage.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'file-storage', { outlets: { popup: fileStorage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
