<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-skill-table-heading" jhiTranslate="App.skillTable.home.createOrEditLabel">Create or edit a Skill Table</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!skillTable.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.skillTable.skillExpertise" for="field_skillExpertise">Skill Expertise</label>
                    <select class="form-control" id="field_skillExpertise" name="skillExpertise" formControlName="skillExpertise">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="skillExpertiseOption.id === editForm.get('skillExpertise').value?.id ? editForm.get('skillExpertise').value : skillExpertiseOption" *ngFor="let skillExpertiseOption of skillexpertises; trackBy: trackSkillExpertiseById">{{skillExpertiseOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.skillTable.userContact" for="field_userContact">User Contact</label>
                    <select class="form-control" id="field_userContact" name="userContact" formControlName="userContact">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userContactOption.id === editForm.get('userContact').value?.id ? editForm.get('userContact').value : userContactOption" *ngFor="let userContactOption of usercontacts; trackBy: trackUserContactById">{{userContactOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.skillTable.imProjects" for="field_imProjects">Im Projects</label>
                    <select class="form-control" id="field_imProjects" name="imProjects" formControlName="imProjects">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="imProjectsOption.id === editForm.get('imProjects').value?.id ? editForm.get('imProjects').value : imProjectsOption" *ngFor="let imProjectsOption of improjects; trackBy: trackImProjectsById">{{imProjectsOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.skillTable.skills" for="field_skills">Skills</label>
                    <select class="form-control" id="field_skills" name="skills" formControlName="skills">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="skillsOption.id === editForm.get('skills').value?.id ? editForm.get('skills').value : skillsOption" *ngFor="let skillsOption of skills; trackBy: trackSkillsById">{{skillsOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
