<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.skillTable.home.title">Skill Tables</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-skill-table" [routerLink]="['/skill-table/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.skillTable.home.createLabel">
            Create new Skill Table
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="skillTables">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="App.skillTable.skillExpertise">Skill Expertise</span></th>
            <th><span jhiTranslate="App.skillTable.userContact">User Contact</span></th>
            <th><span jhiTranslate="App.skillTable.imProjects">Im Projects</span></th>
            <th><span jhiTranslate="App.skillTable.skills">Skills</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let skillTable of skillTables ;trackBy: trackId">
                <td><a [routerLink]="['/skill-table', skillTable.id, 'view' ]">{{skillTable.id}}</a></td>
                <td>
                    <div *ngIf="skillTable.skillExpertise">
                        <a [routerLink]="['../skill-expertise', skillTable.skillExpertise?.id, 'view' ]" >{{skillTable.skillExpertise?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="skillTable.userContact">
                        <a [routerLink]="['../user-contact', skillTable.userContact?.id, 'view' ]" >{{skillTable.userContact?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="skillTable.imProjects">
                        <a [routerLink]="['../im-projects', skillTable.imProjects?.id, 'view' ]" >{{skillTable.imProjects?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="skillTable.skills">
                        <a [routerLink]="['../skills', skillTable.skills?.id, 'view' ]" >{{skillTable.skills?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/skill-table', skillTable.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/skill-table', skillTable.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'skill-table', { outlets: { popup: skillTable.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
