<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="projectSubgoalId">
            <h2><span jhiTranslate="App.projectSubgoalId.detail.title">Project Subgoal Id</span> {{projectSubgoalId.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.projectSubgoalId.code">Code</span></dt>
                <dd>
                    <span>{{projectSubgoalId.code}}</span>
                </dd>
                <dt><span jhiTranslate="App.projectSubgoalId.name">Name</span></dt>
                <dd>
                    <span>{{projectSubgoalId.name}}</span>
                </dd>
                <dt><span jhiTranslate="App.projectSubgoalId.description">Description</span></dt>
                <dd>
                    <span>{{projectSubgoalId.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project-subgoal-id', projectSubgoalId.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
