<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="roles">
            <h2><span jhiTranslate="App.roles.detail.title">Roles</span> {{roles.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.roles.code">Code</span></dt>
                <dd>
                    <span>{{roles.code}}</span>
                </dd>
                <dt><span jhiTranslate="App.roles.name">Name</span></dt>
                <dd>
                    <span>{{roles.name}}</span>
                </dd>
                <dt><span jhiTranslate="App.roles.description">Description</span></dt>
                <dd>
                    <span>{{roles.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/roles', roles.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
