<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.projectBusinessgoalId.home.title">Project Businessgoal Ids</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-project-businessgoal-id" [routerLink]="['/project-businessgoal-id/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.projectBusinessgoalId.home.createLabel">
            Create new Project Businessgoal Id
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="projectBusinessgoalIds">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="App.projectBusinessgoalId.code">Code</span></th>
            <th><span jhiTranslate="App.projectBusinessgoalId.name">Name</span></th>
            <th><span jhiTranslate="App.projectBusinessgoalId.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let projectBusinessgoalId of projectBusinessgoalIds ;trackBy: trackId">
                <td><a [routerLink]="['/project-businessgoal-id', projectBusinessgoalId.id, 'view' ]">{{projectBusinessgoalId.id}}</a></td>
                <td>{{projectBusinessgoalId.code}}</td>
                <td>{{projectBusinessgoalId.name}}</td>
                <td>{{projectBusinessgoalId.description}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/project-businessgoal-id', projectBusinessgoalId.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/project-businessgoal-id', projectBusinessgoalId.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'project-businessgoal-id', { outlets: { popup: projectBusinessgoalId.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
