<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="projectBusinessgoalId">
            <h2><span jhiTranslate="App.projectBusinessgoalId.detail.title">Project Businessgoal Id</span> {{projectBusinessgoalId.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.projectBusinessgoalId.code">Code</span></dt>
                <dd>
                    <span>{{projectBusinessgoalId.code}}</span>
                </dd>
                <dt><span jhiTranslate="App.projectBusinessgoalId.name">Name</span></dt>
                <dd>
                    <span>{{projectBusinessgoalId.name}}</span>
                </dd>
                <dt><span jhiTranslate="App.projectBusinessgoalId.description">Description</span></dt>
                <dd>
                    <span>{{projectBusinessgoalId.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project-businessgoal-id', projectBusinessgoalId.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
