<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="groupMembers">
            <h2><span jhiTranslate="App.groupMembers.detail.title">Group Members</span> {{groupMembers.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.groupMembers.code">Code</span></dt>
                <dd>
                    <span>{{groupMembers.code}}</span>
                </dd>
                <dt><span jhiTranslate="App.groupMembers.name">Name</span></dt>
                <dd>
                    <span>{{groupMembers.name}}</span>
                </dd>
                <dt><span jhiTranslate="App.groupMembers.description">Description</span></dt>
                <dd>
                    <span>{{groupMembers.description}}</span>
                </dd>
                <dt><span jhiTranslate="App.groupMembers.roles">Roles</span></dt>
                <dd>
                    <span *ngFor="let roles of groupMembers.roles; let last = last">
                        <a [routerLink]="['/roles', roles?.id, 'view' ]">{{roles.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/group-members', groupMembers.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
