<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="projectTheme">
            <h2><span jhiTranslate="App.projectTheme.detail.title">Project Theme</span> {{projectTheme.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.projectTheme.code">Code</span></dt>
                <dd>
                    <span>{{projectTheme.code}}</span>
                </dd>
                <dt><span jhiTranslate="App.projectTheme.name">Name</span></dt>
                <dd>
                    <span>{{projectTheme.name}}</span>
                </dd>
                <dt><span jhiTranslate="App.projectTheme.description">Description</span></dt>
                <dd>
                    <span>{{projectTheme.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project-theme', projectTheme.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
