<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-project-tag-heading" jhiTranslate="App.projectTag.home.createOrEditLabel">Create or edit a Project Tag</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!projectTag.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.projectTag.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.projectTag.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.projectTag.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.projectTag.flag" for="field_flag">Flag</label>
                    <input type="text" class="form-control" name="flag" id="field_flag"
                           formControlName="flag"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.projectTag.color" for="field_color">Color</label>
                    <input type="text" class="form-control" name="color" id="field_color"
                           formControlName="color"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.projectTag.tagType" for="field_tagType">Tag Type</label>
                    <select class="form-control" id="field_tagType" name="tagType" formControlName="tagType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tagTypeOption.id === editForm.get('tagType').value?.id ? editForm.get('tagType').value : tagTypeOption" *ngFor="let tagTypeOption of tagtypes; trackBy: trackTagTypeById">{{tagTypeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.projectTag.imEmployee" for="field_imEmployee">Im Employee</label>
                    <select class="form-control" id="field_imEmployee" name="imEmployee" formControlName="imEmployee">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="imEmployeeOption.id === editForm.get('imEmployee').value?.id ? editForm.get('imEmployee').value : imEmployeeOption" *ngFor="let imEmployeeOption of imemployees; trackBy: trackImEmployeeById">{{imEmployeeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.projectTag.imProjects" for="field_imProjects">Im Projects</label>
                    <select class="form-control" id="field_imProjects" name="imProjects" formControlName="imProjects">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="imProjectsOption.id === editForm.get('imProjects').value?.id ? editForm.get('imProjects').value : imProjectsOption" *ngFor="let imProjectsOption of improjects; trackBy: trackImProjectsById">{{imProjectsOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
