<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.skillCategory.home.title">Skill Categories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-skill-category" [routerLink]="['/skill-category/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.skillCategory.home.createLabel">
            Create new Skill Category
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="skillCategories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="App.skillCategory.skillCategoryCode">Skill Category Code</span></th>
            <th><span jhiTranslate="App.skillCategory.skillCategoryName">Skill Category Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let skillCategory of skillCategories ;trackBy: trackId">
                <td><a [routerLink]="['/skill-category', skillCategory.id, 'view' ]">{{skillCategory.id}}</a></td>
                <td>{{skillCategory.skillCategoryCode}}</td>
                <td>{{skillCategory.skillCategoryName}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/skill-category', skillCategory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/skill-category', skillCategory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'skill-category', { outlets: { popup: skillCategory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
