<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-skill-category-heading" jhiTranslate="App.skillCategory.home.createOrEditLabel">Create or edit a Skill Category</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!skillCategory.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.skillCategory.skillCategoryCode" for="field_skillCategoryCode">Skill Category Code</label>
                    <input type="text" class="form-control" name="skillCategoryCode" id="field_skillCategoryCode"
                           formControlName="skillCategoryCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.skillCategory.skillCategoryName" for="field_skillCategoryName">Skill Category Name</label>
                    <input type="text" class="form-control" name="skillCategoryName" id="field_skillCategoryName"
                           formControlName="skillCategoryName"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
