<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.employeeStatus.home.title">Employee Statuses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employee-status" [routerLink]="['/employee-status/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.employeeStatus.home.createLabel">
            Create new Employee Status
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="employeeStatuses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="App.employeeStatus.statusCode">Status Code</span></th>
            <th><span jhiTranslate="App.employeeStatus.statusName">Status Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employeeStatus of employeeStatuses ;trackBy: trackId">
                <td><a [routerLink]="['/employee-status', employeeStatus.id, 'view' ]">{{employeeStatus.id}}</a></td>
                <td>{{employeeStatus.statusCode}}</td>
                <td>{{employeeStatus.statusName}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/employee-status', employeeStatus.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/employee-status', employeeStatus.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'employee-status', { outlets: { popup: employeeStatus.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
