<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.tagType.home.title">Tag Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tag-type" [routerLink]="['/tag-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.tagType.home.createLabel">
            Create new Tag Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tagTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="App.tagType.code">Code</span></th>
            <th><span jhiTranslate="App.tagType.name">Name</span></th>
            <th><span jhiTranslate="App.tagType.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tagType of tagTypes ;trackBy: trackId">
                <td><a [routerLink]="['/tag-type', tagType.id, 'view' ]">{{tagType.id}}</a></td>
                <td>{{tagType.code}}</td>
                <td>{{tagType.name}}</td>
                <td>{{tagType.description}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tag-type', tagType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tag-type', tagType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tag-type', { outlets: { popup: tagType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
