<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.qnowUser.home.title">Qnow Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qnow-user" [routerLink]="['/qnow-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.qnowUser.home.createLabel">
            Create new Qnow User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="qnowUsers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="App.qnowUser.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let qnowUser of qnowUsers ;trackBy: trackId">
                <td><a [routerLink]="['/qnow-user', qnowUser.id, 'view' ]">{{qnowUser.id}}</a></td>
                <td>
                    {{qnowUser.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/qnow-user', qnowUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/qnow-user', qnowUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'qnow-user', { outlets: { popup: qnowUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
